---
layout: layouts/home.njk
lang: ja
title: "がーと / gaato"
description: "がーと / gaato のホームページ"
alternates:
  - lang: ja
    url: /ja/
  - lang: en
    url: /en/
  - lang: id
    url: /id/
  - lang: x-default
    url: /
---
