{% extends 'base.html' %}
{% load static %}

{% block title %}がーと / gaato{% endblock %}

{% block active_hololive %}active{% endblock %}

{% block contents %}
<h1>ホロライブって何？</h1>
<p>バーチャル YouTuber のグループです。</p>
<h1>バーチャル YouTuber って何？</h1>
<p>説明が難しいのでとりあえず見てください。</p>
<h1>ホロライブで誰がおすすめ？</h1>
<p>たくさんいるので自分に合った推しを見つけてください！</p>
<h2>歌が好きなら…</h2>
<p>「<a href="https://www.youtube.com/channel/UC5CwaMl1eIgY8h02uZw7u8A">星街すいせい</a>」さんがおすすめです！歌がめっちゃ上手くて声がめっちゃ好きです。下の方に個人的に好きなホロライブのオリジナル曲ランキング書くのでそちらもご覧ください。</p>
<p><iframe width="560" height="315" src="https://www.youtube.com/embed/IKKar5SS29E" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe></p>
<h2>ゲームが好きなら…</h2>
<p>みんなゲームしてるのであなたの好きなゲームをしているメンバーを探してみてください！「[ゲームの名前] ホロライブ 切り抜き」とかで検索してみてください。</p>
<h2>てぇてぇが欲しいなら…</h2>
<p>おかころ（<a href="https://www.youtube.com/channel/UCvaTdHTWBGv3MKj3KVqJVCw">猫又おかゆ</a>×<a href="https://www.youtube.com/channel/UChAnqc_AY5_I3Px5dig3X1Q">戌神ころね</a>）がおすすめです！ホロライブには他にも数多くのてぇてぇがありますがホロライブに入る前からの関係があったおかころは最強です。異論は認めます。</p>
<p><iframe width="560" height="315" src="https://www.youtube.com/embed/Zqv5rvuU-1A" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe></p>
<h2>英語を学びたいなら…</h2>
<p>ホロライブには English や Indonesia といったグループもあるので英語に自信がある方は配信を見てみてください。自信がない方は和訳切り抜きとかもおすすめです。実は私はホロライブ English で英語を勉強しようと思ったのがホロライブにハマったきっかけです。</p>
<p><iframe width="560" height="315" src="https://www.youtube.com/embed/uB6iamrbm3A" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe></p>
<p><iframe width="560" height="315" src="https://www.youtube.com/embed/4gSGc6o320s" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe></p>
<h2>ASMR で癒やされたいなら…</h2>
「<a href="https://www.youtube.com/channel/UCdyqAaZDKHXg4Ahi7VENThQ">白銀ノエル</a>」さんがおすすめです！彼女は ASMR 極めています。
<p><iframe width="560" height="315" src="https://www.youtube.com/embed/u66Mxi5sI58" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe><h2>がーとの最推しは？</h2></p>
<p>箱推しなのでみんな好きですが最推しは「<a href="https://www.youtube.com/channel/UCvaTdHTWBGv3MKj3KVqJVCw">猫又おかゆ</a>」さんです。声に一目惚れして、今ではすべてが好きです。ほぼ毎日おかゆんの ASMR で寝ています。</p>
<h1>個人的好きなホロライブのオリジナル曲ランキング</h1>
<p>好きな曲多すぎてめっちゃ悩みました。今後変動するかもしれません。あと私は結構かっこいい系の曲が好きなので偏っていると思います。</p>
<h3>第一位 FACT / 常闇トワ</h3>
<p><iframe width="560" height="315" src="https://www.youtube.com/embed/Zc05le75CfI" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe></p>
<p>私中学の頃からずっとボカロ聞いてるんですけど、一番好きなボカロPが niki さんで、その niki さんが作った曲で、トワ様の声もめっちゃかっこよくて、つまり神です。この前に Palette って曲も出しているんですけどそれも大好きです。</p>
<h3>第二位 天球、彗星は夜を跨いで / 星街すいせい</h3>
<p><iframe width="560" height="315" src="https://www.youtube.com/embed/zLak0dxBKpM" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe></p>
<p>すいちゃんがホロライブに入る前（個人勢時代）に出した曲です。初めて聞いた時の鳥肌は忘れられません。</p>
<h3>第三位 Red / 森カリオペ</h3>
<p><iframe width="560" height="315" src="https://www.youtube.com/embed/-AuQZrUHjhg" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe></p>
<p>めっちゃかっこいいです。何度も歌おうと試みましたが無理でした。</p>
<h1>おすすめの動画</h1>
<p><iframe width="560" height="315" src="https://www.youtube.com/embed/l158J1aPlDg" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe></p>
<p><iframe width="560" height="315" src="https://www.youtube.com/embed/SLY1E3P6nas" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe></p>
<p><iframe width="560" height="315" src="https://www.youtube.com/embed/HySMjoHxRMY" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe></p>
<p><iframe width="560" height="315" src="https://www.youtube.com/embed/oI3c4v6b_cM" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe></p>
<p><iframe width="560" height="315" src="https://www.youtube.com/embed/OboeRJtT7fU" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe></p>
<p><iframe width="560" height="315" src="https://www.youtube.com/embed/sFGMeR2sJ-g" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe></p>
<p><iframe width="560" height="315" src="https://www.youtube.com/embed/vFWUKmx7eRY" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe></p>
{% endblock %}
