{% extends 'base.html' %}
{% load static %}

{% block title %}プロフィール | がーと / gaato{% endblock %}

{% block active_profile %}active{% endblock %}

{% block contents %}
  <p>数学系の学科に通っている一般大学生です。</p>
  <p>趣味で始めたプログラミングを仕事にしようと頑張っています。</p>
  <p>主に Python を書いています。</p>
  <p>ホロライブが大好きで最推しは猫又おかゆさんです。</p>

  <div class="card" style="width: 20rem;">
    <div class="card-body">
      <h4 class="card-title">Twitter</h4>
      <h6 class="card-subtitle mb-2 text-muted">@gaato__</h6>
      <p class="card-text">メイン垢です。数学やプログラミングのことを稀にツイートします。</p>
      <a href="https://twitter.com/gaato__" class="card-link">Link</a>
    </div>
  </div>
  
  <div class="card" style="width: 20rem;">
    <div class="card-body">
      <h4 class="card-title">Twitter</h4>
      <h6 class="card-subtitle mb-2 text-muted">@Gaato11</h6>
      <p class="card-text">サブ垢です。ホロライブのことや雑なツイートをします。</p>
      <a href="https://twitter.com/Gaato11" class="card-link">Link</a>
    </div>
  </div>
  
  <div class="card" style="width: 20rem;">
    <div class="card-body">
      <h4 class="card-title">Discord</h4>
      <h6 class="card-subtitle mb-2 text-muted">gaato#0891</h6>
      <p class="card-text">Discord で共通のサーバーがない方はフレンド申請する前に Twitter とかで一報くれると嬉しいです。</p>
    </div>
  </div>
  
  <div class="card" style="width: 20rem;">
    <div class="card-body">
      <h4 class="card-title">YouTube</h4>
      <h6 class="card-subtitle mb-2 text-muted">がーと / gaato</h6>
      <p class="card-text">配信をしたり切り抜き動画を作ったりしてすぐやめた残骸があります。</p>
      <a href="https://www.youtube.com/channel/UCq8mpASXfCdapiKyZAoMGBw" class="card-link">Link</a>
    </div>
  </div>
  
  <div class="card" style="width: 20rem;">
    <div class="card-body">
      <h4 class="card-title">GitHub</h4>
      <h6 class="card-subtitle mb-2 text-muted">gaato</h6>
      <p class="card-text">Discord の Bot とかこのサイトとかを作っています。</p>
      <a href="https://github.com/gaato" class="card-link">Link</a>
    </div>
  </div>
  
  <div class="card" style="width: 20rem;">
    <div class="card-body">
      <h4 class="card-title">Qiita</h4>
      <h6 class="card-subtitle mb-2 text-muted">gaato</h6>
      <p class="card-text">何個か記事を書いています。</p>
      <a href="https://qiita.com/gaato" class="card-link">Link</a>
    </div>
  </div>
{% endblock %}
